<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<head th:replace="fragments :: head"></head>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<nav th:replace="fragments :: navigation"></nav>
	<form method="post">
	
	<div th:each="cheese : ${cheeses}" class="checkbox">
		<input type="checkbox" name="cheeseIds" th:value="${cheese.cheeseId}"
				th:id="${cheese.cheeseId}" th:text="${cheese.name}">
		
		<br />
	</div>
	
	<input type="submit" value="Remove Cheese" />
	</form>
</body>
</html>
